@mixin vp-1441 {
  @media (min-width: $vp-oversize) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: $vp-tablet) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-mobile) {
    @content;
  }
}
