.apartments {
  padding: 80px 0 0;

  @include vp-767{
    padding-top: 60px;
  }

  &__wrapper {
    column-gap: 220px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 420px 360px;

    &--reverse{
      grid-template-columns: 360px 420px;
    }

    @include vp-1023{
      column-gap: 88px;
      grid-template-columns: 340px 300px;
      align-items: start;
    }

    @include vp-767{
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__icon {
    display: flex;
    margin: 0 0 32px;
    pointer-events: none;

    @include vp-1023{
      width: 50px;
    }

    @include vp-767{
      margin-bottom: 24px;
    }
  }

  &__heading{
    font-family: $ff-ardeco,"Arial",serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0 0 24px;
  }

  &__wrapper--reverse &__description:not(:last-child){
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  &__description {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 24px;

    @include vp-1023{
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 24px;
    }

    @include vp-767{
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__wrapper--reverse &__text:last-child{
    margin-bottom: 0;
  }

  &__text {
    margin: 0 0 16px;
    font-weight: 300;
    line-height: 22px;

    @include vp-1023{
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767{
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 12px;
    }
  }

  &__wrapper--reverse &__list{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  &__list {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 16px;
  }

  &__list-item {
    font-weight: 300;
    line-height: 22px;

    @include vp-1023{
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767{
      font-size: 12px;
      line-height: 18px;
    }
  }
}
