.benefit {
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-height: 480px;
  padding: 20px;
  background-size: cover;
  border: 2px solid $color-white;

  @include vp-1023 {
    width: 100%;
    min-height: 400px;
  }

  @include vp-767 {
    width: 260px;
    min-height: 350px;
    margin: 0 auto;
  }

  &--round-all {
    border-radius: 180px;

    @include vp-1023 {
      width: 300px;
      min-height: 400px;
      margin: 0;
    }

    @include vp-767{
      width: 260px;
      min-height: 350px;
      margin: 0 auto;
    }
  }

  &--round-privacy {
    background-image: url("../../images/apartments/techno-photo.png");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/apartments/techno-photo@2x.png");
    }

    @media (max-width:$vp-tablet) {
      background-image: url("../../images/apartments/techno-photo-table.png");
    }

    @media(max-width:$vp-mobile) and (min-resolution:2dppx){
      background-image: url("../../images/apartments/techno-photo-table@2x.png");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/apartments/techno-page-mobile.png");
    }

    @media(max-width:$vp-mobile) and (min-resolution:2dppx){
      background-image: url("../../images/apartments/techno-photo-mobile@2x.png");
    }
    
  }

  &--apartment {
    background-image: url("../../images/apartments/photo-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/apartments/photo-1@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../../images/apartments/photo-1-table.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/apartments/photo-1-table@2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../../images/apartments/photo-1-mobile.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/apartments/photo-1-mobile@2x.png");
      }
    }

  }

  &--pond {
    background-image: url("../../images/privacy/photo-2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/privacy/photo-2@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../../images/privacy/photo-2-table.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/privacy/photo-2-table@2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../../images/privacy/photo-2-mobile@2x.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/privacy/photo-2-mobile.png");
      }
    }

  }

  &--entrance {
    background-image: url("../../images/advantages/photo-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/advantages/photo-3@2x.jpg");
    }

    @include vp-1023{
      background-image: url("../../images/advantages/photo-3-table.png");

      @media (min-resolution:2dppx){
        background-image: url("../../images/advantages/photo-3-table@2x.png");
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  &--privacy {
    background-image: url("../../images/privacy/pound-photo.png");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/privacy/pound-photo@2x.png");
    }

    @media (max-width:$vp-tablet){
      background-image: url("../../images/privacy/pound-photo-table.png");
    }

    @media (max-width:$vp-tablet) and (min-resolution:2dppx) {
      background-image: url("../../images/privacy/pound-photo-table@2x.png");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/privacy/pound-photo-mobile.png");
    }

    @media (max-width:$vp-mobile) and (min-resolution:2dppx) {
      background-image: url("../../images/privacy/pound-photo-mobile@2x.png");
    }
  }

  &__number {
    margin: 0 0 16px;
    font-size: 80px;
    font-family: $ff-ardeco;
    line-height: 60px;

    @include vp-1023 {
      font-size: 60px;
      margin-bottom: 8px;
    }

    @include vp-767 {
      font-size: 56px;
      line-height: 50px;
    }
  }

  &__text {
    margin: 0 0 24px;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    @include vp-1023 {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
      text-wrap: nowrap;

    }
  }

  &__icon {
    width: 60px;

    @include vp-1023{
      width: 50px;
    }
  }


}