.benefit {
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-height: 480px;
  padding: 20px;
  background-size: cover;
  border: 2px solid $color-white;

  @include vp-1023 {
    width: 100%;
    min-height: 400px;
  }

  @include vp-767 {
    width: 260px;
    min-height: 350px;
    margin: 0 auto;
  }

  &--square-all {
    border-radius: unset;
    border: none;
    width: 420px;
    min-height: 500px;

    @include vp-1023 {
      width: 270px;
      min-height: 320px;
    }

    @include vp-767 {
      width: 345px;
      min-height: 410px;
    }
  }

  &--bg-all {
    width: 100%;
    min-height: 700px;
    border: none;
    padding-top: 185px;

    @include vp-1023 {
      min-height: 374px;
      padding-top: 90px;
    }

    @include vp-767 {
      min-height: 200px;
      padding: 46px 0 50px;
    }

    
  }

  &--bg-all &__icon {
    width: 60px;

    @include vp-1023 {
      width: 50px;
    }
  }

  &--size-xl {
    background-image: url("../../images/bg-privacy-page2.jpg");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/bg-privacy-page2@2x.jpg");
    }

    @media (max-width:$vp-tablet) {
      background-image: url("../../images/bg-privacy-page-table2.jpg");
    }

    @media (max-width:$vp-tablet) and (min-resolution:2dppx) {
      background-image: url("../../images/bg-privacy-page-table2@2x.jpg");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/privacy-page-mobile2.jpg");
    }

    @media (max-width:$vp-mobile) and (min-resolution:2dppx){
      background-image: url("../../images/privacy-page-mobile@2x.jpg");
    }
  }

  &--around-side {
    background-image: url("../../images/apartment-photo.png");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/apartment-photo@2x.png");
    }

    @media (max-width:$vp-tablet) {
      background-image: url("../../images/apartment-photo-table.png");
    }

    @media (max-width:$vp-tablet) and (min-resolution:2dppx) {
      background-image: url("../../images/apartment-photo-table@2x.png");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/apartment-photo-mobile.png");
    }

    @media (max-width:$vp-mobile) and (min-resolution:2dppx) {
      background-image: url("../../images/apartment-photo-mobile@2x.png");
    }
  }

  &--round-all {
    border-radius: 180px;

    @include vp-1023 {
      width: 300px;
      min-height: 400px;
      margin: 0;
    }

    @include vp-767{
      width: 260px;
      min-height: 350px;
      margin: 0 auto;
    }
  }

  &--room {
    background-image: url("../../images/room-photo.png");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/room-photo@2x.png");
    }

    @media (max-width:$vp-tablet) {
      background-image: url("../../images/room-photo-table.png");
    }

    @media (max-width:$vp-tablet) and (min-resolution:2dppx) {
      background-image: url("../../images/room-photo-table@2x.png");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/room-photo-mobile@2x.png");
    }

    @media (max-width:$vp-mobile) and (min-resolution:2dppx) {
      background-image: url("../../images/room-photo-mobile@2x.png");
    }
  }

  &--round-privacy {
    background-image: url("../../images/techno-photo.png");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/techno-photo@2x.png");
    }

    @media (max-width:$vp-tablet) {
      background-image: url("../../images/techno-photo-table.png");
    }

    @media(max-width:$vp-mobile) and (min-resolution:2dppx){
      background-image: url("../../images/techno-photo-table@2x.png");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/techno-photo-mobile.png");
    }

    @media(max-width:$vp-mobile) and (min-resolution:2dppx){
      background-image: url("../../images/techno-photo-mobile@2x.png");
    }
    
  }

  &--apartment {
    background-image: url("../../images/photo-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/photo-1@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../../images/photo-1-table.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/photo-1-table@2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../../images/photo-1-mobile.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/photo-1-mobile@2x.png");
      }
    }

  }

  &--pond {
    background-image: url("../../images/photo-2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/photo-2@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../../images/photo-2-table.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/photo-2-table@2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../../images/photo-2-mobile.png");

      @media (min-resolution:2dppx) {
        background-image: url("../../images/photo-2-mobile@2x.png");
      }
    }

  }

  &--entrance {
    background-image: url("../../images/photo-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/photo-3@2x.jpg");
    }

    @include vp-767 {
      display: none;
    }
  }

  &--privacy {
    background-image: url("../../images/pound-photo.png");

    @media (min-resolution:2dppx) {
      background-image: url("../../images/pound-photo@2x.png");
    }

    @media (max-width:$vp-tablet){
      background-image: url("../../images/pound-photo-table.png");
    }

    @media (max-width:$vp-tablet) and (min-resolution:2dppx) {
      background-image: url("../../images/pound-photo-table@2x.png");
    }

    @media (max-width:$vp-mobile) {
      background-image: url("../../images/room-photo-mobile.png");
    }

    @media (max-width:$vp-mobile) and (min-resolution:2dppx) {
      background-image: url("../../images/pound-photo-mobile@2x.png");
    }
  }

  &__number {
    margin: 0 0 16px;
    font-size: 80px;
    font-family: $ff-ardeco;
    line-height: 60px;

    @include vp-1023 {
      font-size: 60px;
      margin-bottom: 8px;
    }

    @include vp-767 {
      font-size: 56px;
      line-height: 50px;
    }
  }

  &--bg-all &__number {
    @include vp-1023 {
      font-size: 56px;
      line-height: 50px;
    }
  }

  &__text {
    margin: 0 0 24px;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    @include vp-1023 {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
      text-wrap: nowrap;

    }
  }

  &--bg-all &__text {
    @include vp-1023 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__icon {
    width: 60px;

    @include vp-1023{
      width: 50px;
    }
  }


}