.privacy {
  padding: 80px 0 0;

  @include vp-767 {
    padding: 60px 0 0;
  }

  &__wrapper {
    column-gap: 220px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 360px 420px;

    @include vp-1023 {
      column-gap: 88px;
      grid-template-columns: 300px 340px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

  }

  &--xl &__wrapper {
    grid-template-columns: 420px 360px;

    @include vp-1023 {
      grid-template-columns: 340px 300px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &__heading {
    margin: 0 0 24px;
    font-size: 64px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 46px;
      line-height: 46px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 34px;
      margin-bottom: 16px;
    }
  }

  &__text,
  &__list-item {
    font-weight: 300;
    line-height: 22px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__text {
    margin: 0 0 16px;

    @include vp-767 {
      margin: 0 0 12px;
    }
  }

  &--xl &__text {
    margin: 0;
  }

  &__list {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
    padding: 0 0 0 16px;

    @include vp-1023 {
      margin-bottom: 28px;
      padding-left: 12px;
      width: 95%;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  &__link {
    column-gap: 12px;
    display: flex;
    align-items: center;
    line-height: 22px;

    &:hover {
      color: $color-polo-blue;
    }

    &:focus-visible {
      outline: none;
      color: $color-polo-blue;
    }

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      height: 32px;
      gap: 8px;
    }
  }

  &__link-icon {
    pointer-events: none;

    @include vp-767 {
      width: 100%;
      height: 100%;
    }
  }

  &__top {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
    margin: 0 auto 80px;
    gap: 32px;

    @include vp-767 {
      width: 100%;
      gap: 24px;
      margin-bottom: 60px;
    }

    &-desc {
      font-size: 18px;
      line-height: 24px;
      font-family: $ff-montserrat;
      text-align: center;
      margin: 0;

      @include vp-1023 {
        font-size: 16px;
        line-height: 22px;
      }

      @include vp-767 {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-icon {

      @include vp-1023 {
        width: 50px;
      }
    }
  }
}