.real-beauty {
  padding: 80px 0 0;

  @include vp-767 {
    gap: 60px;
    padding: 60px 0 0
  }

  &--scope-border{
    position: relative;
    padding: 0;
    min-height: 700px;

    @include vp-1023{
      min-height: 374px;
    }

    @include vp-767{
      min-height: 200px;
    }
  }


  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 118px;
  }

  &__heading {
    max-width: 480px;
    margin: 0 auto 24px;
    font-size: 64px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 46px;
      line-height: 46px;
      margin-bottom: 16px;
      font-weight: 300;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 34px;
    }
  }

  &__description {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    @include vp-1023 {
      font-size: 16px;
      line-height: 22px;
      max-width: 528px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 24px;
    }
  }

  &__img-wrapper {
    position: relative;
  }

  &__text-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 366px;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);

    @include vp-1023{
      top: 170px;
      bottom: 100px;
    }

    @include vp-767{
      top: 46px;
      bottom: 50px;
    }
  }

  &__number{
    margin: 0 0 16px;
    font-size: 80px;
    font-family: $ff-ardeco;
    line-height: 60px;

    @include vp-1023 {
      font-size: 56px;
      line-height: 50px;
      margin-bottom: 8px;
    }

    @include vp-767 {
      font-size: 56px;
      line-height: 50px;
    }
  }

  &__text{
    margin: 0 0 24px;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    @include vp-1023 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      text-wrap: nowrap;

    }
  }

  &__icon{
    @include vp-1023{
      width: 50px;
    }
  }

  &--scope-border &__img-wrapper{
    min-height: 700px;

    @include vp-1023{
      min-height: 374px;
    }

    @include vp-767{
      min-height: 200px;
    }
  }

  &__img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, $color-cerulean-blue 0%, $color-cerulean-blue-60 46.28%, $color-cerulean-blue-0 89%);

    @include vp-1023 {
      height: 100px;
    }

    @include vp-767 {
      height: 50px;
    }
  }

  &--scope-border &__img-wrapper::before{
    display: none;
  }



  &__img-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, $color-cerulean-blue-0 0%, $color-cerulean-blue-60 46.28%, $color-cerulean-blue 89%);

    @include vp-1023 {
      height: 100px;
    }

    @include vp-767 {
      height: 50px;
    }
  }

  &__image {
    width: 100%;
    margin: 32px 0 0;

    @include vp-1023 {
      height: 374px;
    }

    @include vp-767 {
      margin: 24px 0 0;
      height: 200px;
    }
  }

  &--scope-border &__image{
    position: absolute;
    top:0;
    margin: 0;
    height: 700px;
    z-index: -1;

    @include vp-1023 {
      height: 374px;
    }

    @include vp-767 {
      height: 200px;
    }
  }

}