.real-beauty {
  padding: 80px 0 0;

  &__heading {
    max-width: 480px;
    margin: 0 auto 24px;
    font-size: 64px;
    font-family: $ff-ardeco;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__img-wrapper {
    position: relative;
  }

  &__img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, $color-cerulean-blue 0%, $color-cerulean-blue-60 46.28%, $color-cerulean-blue-0 89%);
  }

  &__img-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, $color-cerulean-blue-0 0%, $color-cerulean-blue-60 46.28%, $color-cerulean-blue 89%);
  }

  &__image {
    width: 100%;
    height: 100vh;
    margin: 32px 0 0;
  }
}
