.self-informing {
    padding: 80px 0 0;
    margin-bottom: 80px;

    @include vp-767{
        padding: 60px 0 0;
        margin-bottom: 60px;
    }

    &__wrapper {
        display: flex;
        gap: 160px;

        @include vp-1023 {
            gap: 118px;
        }

        @include vp-767{
            flex-direction: column;
            gap: 32px;
        }

    }

    &--reverse &__wrapper{
        flex-direction: row-reverse;

        @include vp-767 {
            flex-direction: column-reverse;
        }
    }

    &__text-block {
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include vp-1023 {
            width: 340px;
        }
    }

    &__heading {
        max-width: 480px;
        margin: 0 0 24px;
        font-size: 64px;
        font-family: $ff-ardeco;
        font-weight: 400;
        line-height: 60px;
        text-align: left;
        text-transform: uppercase;

        @include vp-1023 {
            font-size: 46px;
            line-height: 46px;
            margin-bottom: 20px;
            font-weight: 400;
        }

        @include vp-767 {
            font-size: 36px;
            line-height: 34px;
            margin-bottom: 16px;
        }
    }

    &__description {
        font-family: $ff-montserrat;
        font-weight: 300;
        max-width: 700px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 22px;
        text-align: left;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
            max-width: 528px;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__image-wrapper{

        @include vp-1023{
            width: 270px;
        }

        @include vp-767{
            width: 100%;
        }
    }
}